---
dateModified: "2026-10-04"
pagination:
  data: solutions
  size: 1
  alias: solution
  addAllPagesToCollections: true
permalink: "/solutions/{{ solution.slug }}/"
layout: solution-detail.njk
eleventyComputed:
  title: "{{ (solution.seoTitle or (solution.name + ' — Zennly')) | safe }}"
  metaDescription: "{{ solution.metaDescription | safe }}"
  bodyClass: "page--light-nav"
---
