---
pagination:
  data: solutions
  size: 1
  alias: solution
permalink: "/solutions/{{ solution.slug }}/"
layout: solution-detail.njk
eleventyComputed:
  title: "{{ solution.name }} — Zennly"
  bodyClass: "page--light-nav"
---
